<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Crest needs access to your calendars to show upcoming events and meeting links.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Crest needs access to your calendars to show upcoming events and meeting links.</string>
	<key>NSLocationUsageDescription</key>
	<string>Crest needs your location to calculate accurate prayer times.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Crest needs your location to calculate accurate prayer times.</string>
	<key>SUFeedURL</key>
	<string>https://itsrafsanjani.github.io/crest/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>XwuY5nOkreRnwPKtbx3hdKDT7HvSH0JqxU/nyRNrk8o=</string>
</dict>
</plist>
